@charset "UTF-8";
/* MOBILE FIRST */

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

p {
  line-height: 1.5rem;
}

/* COMMON */

a {
  color: #ffffff;
  text-decoration: none;
}

.flex {
  display: flex;
}

.visual-effect {
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.visual-effect__rule {
  min-width: 12%;
  max-width: 13%;

  height: 4px;
  background-color: #45e6a2;
  border: none;
}

.about-me__header,
.contact__content--header{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

/* NAV */
.nav {
  background-color: #104d43;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav-bar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* height: 100%; */
}

.nav__logo-link {
  height: 50px;
  justify-content: center;
  align-items: center;
}

.nav__logo-img {
  max-height: 50%;
  padding-left: 1.5rem;
  /* object-fit: cover; */
}
.nav-containter-list {
  flex-basis: 55%;
  align-items: center;
}

.nav__icon,
.nav__logo {
  height: 100%;
  flex-basis: 20%;
  align-items: center;
  justify-content: center;
}

.nav__list {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__list-item {
  flex-direction: column;
  flex-basis: 100%;
  padding: 1rem;
}

.nav__list-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
/* WHEN HAMBYRGER IS NOT CLICKED */
.nav__list--hidden {
  display: none;
}

/* WHEN HAMBURGER IS CLICKED */
/* .nav__logo--hidden{
    visibility:hidden
} */

@media screen and (min-width: 1024px){
  .nav__icon{
    display: none;
  }
  .nav-containter-list{
    flex-basis: 90%;
  }
  .nav__logo{
    flex-basis: 10%;
  }
  .nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav__list--hidden {
    display: inline-block;
  }
  .nav__list-item--polish-version{
    color: black;
    background-color: #45e6a2;
    padding: 0.6rem 1.3rem;
    margin: 0.5rem;
    border-radius:28px;
  }
}

/* END OF NAV */

/* START OF SECTION HOME */
.home {
  position: relative;
  margin-top: 3rem;
  height: 90vh;
  width: 100vw;
  background-color: #104d43;
  color: #ffffff;
}

.home__info {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 85%;

  text-align: center;
  padding: 2rem 1.5rem;
}

.header__h1 {
  text-transform: uppercase;
}

.fa-arrow-circle-down {
  position: absolute;
  color: #45e6a2;
  cursor: pointer;
  font-size: 1.9rem;

  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
  animation: MoveUpAndDown 1.5s ease-in-out infinite;
}


@keyframes MoveUpAndDown {
  0%   { bottom: 5% }
  50%  { bottom: 10% }
  100% { bottom: 5% }
}

@media screen and (min-width: 1024px){
  .header__h1 {
    font-size: 2.2rem;
    padding-bottom: 1.5rem;
  }
  .home__paragraphe{
    padding-top: 1.5rem;
    font-size: 1.2rem;
  }
}
/* END OF SECTION HOME */

/* START OF SECTION ABOUT ME */

.about-me__content {
  flex-direction: column-reverse;
  padding: 1rem 1.5rem;
}

.about-me__img {
  /* min-height: 300px; */
  object-fit: contain;
}

.photo--of--me {
  display: block;
  max-width: 80%;
  margin: 0 auto;
  background-color: #104d43;
  border-radius: 50% 50%;
}

.about-me__text{
  margin-top: 1rem;
}

.about--me__line {
  min-width: 90%;
  max-width: 93%;

  margin: 0.8rem auto;
  height: 4px;
  background-color: #45e6a2;
  border: none;
}

@media screen and (min-width: 760px){
  .photo--of--me {
    width: 50%;
    margin: 0 auto;

  }
}

@media screen and (min-width: 1024px){
  .about-me__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .about-me__img {
    /* height: max-content */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo--of--me {
    margin: 0;
    background-color: #104d43;
    border-radius: 50% 50%;
  }
  .about-me__text{
    flex-basis: 50%;
    padding-top: 0;
  }
  .about-me__header{
    font-size: 1.8rem;
  }
  .about-me__text-paragraphe{
    font-size: 1.2rem;
  }
  .about-me__list-header{
    font-size: 1.4rem;
  }
  .about-me__list-items li {
    font-size: 1.2rem;
  }
}

/* START OF SECTION ABOUT ME - SKILLS LIST*/
.about-me__lists {
  display: flex;
  flex-direction: column;
}

.about-me__list {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
}

.about-me__list-header {
  color: #104d43;
}

.about-me__list-items {
  list-style: none;
  line-height: 1.8rem;
}

@media screen and (min-width: 1024px){
  .about-me__lists{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 1rem auto;
  }
  .about-me__list {
    flex-basis: 33%;
  }
  .header__h2{
    font-size: 1.8rem;
  }
}

/* END OF SECTION ABOUT ME - SKILLS LIST*/
/* START OF SECTION PORTFOLIO*/

.portfolio {
    color: #ffffff;
  background-color: #104d43;
  width: 100%;
}

.header__h2 {
  text-align: center;
  padding-top: 1rem;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem 0;
}

.portfolio__project {
    margin: 0.5rem auto;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media screen and (min-width: 760px){
  .portfolio__projects {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px){
  .portfolio__projects {
    width: 80%;
    margin: 0 auto;
  }
}
/* END OF SECTION PORTFOLIO*/
/* START OF SECTION CONTACT*/

.contact{
    width: 100%;
    height: auto;
}

.contact__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__content-paragraphe{
  padding: 1rem 1.5rem;
}

.content-data--span{
  text-align: center;
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.content-data--span_icon{
  color: #45e6a2;
}
/* FORM */
.contact__form-containter{
  background-color: #104d43;
  width: 85%;
  margin: 1rem auto;
}

.contact__form{
  width: 85%;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.contact__form-name{
  display: block;
  font-weight: 700;
  padding-top: 0.8rem;
  font-size: 0.8rem;
} 

.contact__form-input{
  font-family: "Source Sans Pro", sans-serif;
 height: 1.5rem;
}

.contact__form-input,
.contact__form-textarea{
  width: 100%;
  outline: none;
}

.contact__form-textarea{
  resize: none;
  height: 190px;
  overflow-y: scroll;
}

.contact__form-submit{
  width: 100%;
  padding: 0.8rem;
  background-color: #45e6a2;
  font-weight: 700;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
}

@media screen and (min-width: 1024px){
  .contact__container{
    flex-direction: row;
    margin: 2rem 0;
}

.contact__form-containter{
  flex-basis: 50%;
  margin: 0 1.5rem 0 0;
}
  .contact__content{
    flex-basis: 50%;
  }
  .contact__content--header{
    font-size: 1.8rem;
  }
  .contact__content-paragraphe,
  .contact__content-data{
    font-size: 1.2rem;
  }
  .contact__content-paragraphe > p{
    line-height: 2rem;
  }
  .contact__form-name{
    font-size: 1rem;
  }
}

/* END OF SECTION CONTACT*/
/* START OF SECTION FOOTER*/
.footer{
  color: #ffffff;
  background-color: #104d43;
  width: 100%;

  padding: 1rem;
}

.footer__links-list{
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.footer__links{
  padding-bottom: 0.5rem;
}

.footer__links-list-item{
  padding: 0 0.5rem;
}

.footer__links-list-item >li {
  font-size: 1.4rem;
}

.footer__copyright{
  text-align: center;
}

.footer__copyright-paragraphe{
  color: #45e6a2;
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px){
  .footer__copyright-paragraphe,
  .footer__icone{
    font-size: 1.3rem;
  }
}